@font-face {
  font-family: "Public sans";
  src: url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
}

body {
  margin: 0;
  font-family: "Public Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-1en4zh7-MuiFormLabel-root-MuiInputLabel-root{
  color: #fff !important;
  line-height: 1em !important;
}

.css-1w7yzk6{
  color: #fff !important;
}

.css-1w7yzk6{
  margin-top: -7px !important;
}

.css-15gwjte-MuiFormLabel-root-MuiInputLabel-root{
  color: #fff !important;
}

.css-15gwjte-MuiFormLabel-root-MuiInputLabel-root{
margin-top: -7px !important;
}

.css-14yi5no-MuiFormControl-root-MuiTextField-root .MuiOutlinedInput-root{
  min-width: 220px !important;
}
.css-1iyr9du .MuiOutlinedInput-root{
  border: 1px solid #FF914D !important;
}
.css-297odx-MuiFormControl-root-MuiTextField-root .MuiOutlinedInput-root{
  border: 1px solid #FF914D !important;
}
.top-right{
  background-image: url("assets/star.png");
  background-size: 10% 15%;
  background-repeat: no-repeat;
  background-position: top left;
}

.top-right::after{
  content: "";
position: absolute;
top: 180px;
right: 3%;
width: 20%;
height: 35%;
background-size: 38% 34%;
  background-image: url('assets/curlyline.png');
  background-repeat: no-repeat;
  /* background-size: 15% 15%; */
}

.container-image{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image2{
  position: absolute;
  top:50%;
  left: 48%;
}

@media screen and (max-width: 600px) {
  .top-right::after {
    display: none;
  }
}

